{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block stylesheets %}
<!-- product CSS -->
<link rel="stylesheet" href="{{ asset('assets/css/contact.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/editUser.css') }}">
{% endblock %}

{% block body %}

<article>
    <div class="container">
        <h1>Modifier mon mot de passe</h1>
        {{ form_start(passwordForm) }}
        {{ form_row(passwordForm.plainPassword) }}
        <div class="form-row">
            {{ form_row(passwordForm.newPassword.first) }}
            {{ form_row(passwordForm.newPassword.second) }}
        </div>
        <button class="btn btn-dark" type="submit" class="btn btn-secondary">Valider</button>
        {{ form_end(passwordForm) }}
    </div>
</article>

{% endblock %}