{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block stylesheets %}
<!-- profile CSS -->
<link rel="stylesheet" href="{{ asset('assets/css/profile.css') }}">
{% endblock %}

{% block javascripts %}
<script src="{{ asset('assets/js/profile.js') }}"></script>
{% endblock %}

{% block body %}

<section>
    <div class="container">
        <h1>Mon compte</h1>
        <div class="account">
            <div class="order-section">
                <h2>Commandes</h2>
                <div class="orders">
                    {% for order in app.user.orders %}
                    <div class="order">
                        <a class="details">
                            <p><span id="date">Date</span> : {{ order.createdAt|date('Y-m-d') }} ({{ (order.amount /
                                100)|number_format('2', ',', ' ') }} €)</p>
                            <i class="fa-solid fa-chevron-down open-icon"></i>
                        </a>
                        <div class="order-detail">
                            <p class="ref">Référence : {{ order.reference }} </p>
                            {% for orderDetail in order.orderDetails %}
                            <div class="product">
                                <a href="{{ path('products_product', {slug: orderDetail.product.slug}) }}">
                                    <img src="/assets/img/product/mainImg/{{ orderDetail.product.mainImage }}" alt="Photo d'un produits de la commande">
                                </a>
                                <div class="product-details">
                                    <div class="product-info">
                                        <p>{{ orderDetail.product.name}}</p>
                                        <p class="mt">{{ (orderDetail.product.price / 100)|number_format('2', ',', ' ')
                                            }} €</p>
                                    </div>
                                    <div class="product-quantity">
                                        <p>Quantité</p>
                                        <p class="mt">{{ orderDetail.quantity}}</p>
                                    </div>
                                    <div class="product-total">
                                        <p>Total</p>
                                        <p class="mt">{{ ((orderDetail.quantity * orderDetail.product.price)
                                            /100)|number_format('2', ',', ' ') }} €</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="infos">
                <div class="title">
                    <h2>Mes adresses</h2>
                    <a href="{{ path('profile_adress_add') }}" class="add">Ajouter une adresse</a>
                </div>
                <div class="adresses">
                    {% for address in app.user.userAdresses %}
                    <div class="adress">
                        <p>{{ address.adressLine }}</p>
                        <p>{{ address.zipcode }}</p>
                        <p>{{ address.city }}</p>
                        <p>{{ address.phone }}</p>
                        <div class="adress-crud">
                            <a href="{{ path('profile_adress_edit', {id: address.id}) }}">Modifier</a>
                            <a href="{{ path('profile_adress_delete', {id: address.id}) }}" class="delete">Supprimer</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="info-section">
                    <div class="title">
                        <h2>Mes informations</h2>
                        <a href="{{ path('profile_user_edit') }}" class="add">Modifier mes informations</a>
                    </div>
                    <div class="info-detail">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Nom</th>
                                    <td>{{ app.user.lastname }}</td>
                                </tr>
                                <tr>
                                    <th>Prénom</th>
                                    <td>{{ app.user.firstname }}</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>{{ app.user.email }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <a href="{{ path('profile_password_edit', {id: app.user.id}) }}" class="edit-password">Modifier
                            mon mot de passe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}