{% extends 'base.html.twig' %}

{% block title %}Validation du panier{% endblock %}

{% block stylesheets %}
<!-- cart CSS -->
<link rel="stylesheet" href="{{ asset('assets/css/validationCart.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/contact.css') }}">
{% endblock %}

{% block javascripts %}
<script src="{{ asset('assets/js/validationCart.js') }}"></script>
{% endblock %}

{% block body %}
<section>
    <div class="container">
        <h1>Validation du panier</h1>
        <div class="validationCart">
            <div class="adresses">
                <h2>Mes adresses</h2>
                {{ form_start(cartValidationForm) }}
                {{ form_row(cartValidationForm.deliveryAdress) }}
                {{ form_row(cartValidationForm.billingAdress) }}
                <button type="submit" class="btn btn-dark">Payer</button>
                {{ form_end(cartValidationForm) }}
                <a id="add-address">Ajouter une adresse</a>
                <div id="addressForm">
                    {{ form_start(adressForm) }}
                    {{ form_row(adressForm.adressline) }}
                    {{ form_row(adressForm.city) }}
                    {{ form_row(adressForm.zipcode) }}
                    {{ form_row(adressForm.phone) }}
                    <button class="btn btn-dark" type="submit" class="btn btn-secondary">Ajouter</button>
                    {{ form_end(adressForm) }}
                </div>
            </div>
            <div class="cart">
                {% for data in cartData %}
                <div class="product">
                    <a href="{{ path('products_product', {slug: data.product.slug}) }}">
                        <img src="{{ asset('assets/img/product/mainImg/')}}{{ data.product.mainImage }}" alt="Photo des produits du panier de validation">
                    </a>
                    <div class="product-info">
                        <p>{{data.product.name }}</p>
                        <p>{{ ((data.quantity * data.product.price) / 100)|number_format(2, ',', ' ') }} €</p>
                    </div>
                </div>
                {% endfor %}
                <div class="total">
                    <p>Total</p>
                    <p>{{ (total / 100)|number_format(2, ',', ' ') }} €</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}