{% extends 'base.html.twig' %}

{% block title %}Validation du panier{% endblock %}

{% block stylesheets %}
<!-- cart CSS -->
<link rel="stylesheet" href="{{ asset('assets/css/cart.css') }}">
{% endblock %}

{% block body %}

<section>
    <div class="container">
        <h1>Validation du panier</h1>
        <div class="checkout">
            <div class="table-cart">
                <table>
                    <thead>
                        <tr>
                            <th class="text-left">Produit</th>
                            <th>Prix</th>
                            <th>Quantité</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in cartData %}
                        <tr>
                            <td class="text-left product"><a
                                    href="{{ path('products_product', {slug: data.product.slug}) }}"><img
                                        class="product-img"
                                        src="{{ asset('assets/img/product/mainImg/')}}{{ data.product.mainImage }}"
                                        alt=""></a>{{
                                data.product.name }}</td>
                            <td>{{ (data.product.price / 100)|number_format(2, ',', ' ') }} €</td>
                            <td><span class="quantity"><a href="{{ path('cart_remove', {id: data.product.id}) }}">-</a>
                                    {{
                                    data.quantity }} <a
                                        href="{{ path('cart_add', {id: data.product.id}) }}">+</a></span>
                            </td>
                            <td class="total">{{ ((data.quantity * data.product.price) / 100)|number_format(2, ',', ' ')
                                }}
                                € <a href="{{ path('cart_delete', {id: data.product.id}) }}"><i
                                        class="fa-solid fa-trash"></i></a></td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="5" class="empty-cart">Votre panier est vide</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="final-checkout">
                <div class="cart-total">
                    {{ form_start(cartValidationForm) }}
                    <button type="submit" class="btn btn-dark">Payer</button>
                    {{ form_end(cartValidationForm) }}
                    <button>Ajouter une adresse</button>
                    {{ form_start(adressForm) }}
                        <button type="submit" class="btn-sm btn-dark">OK</button>
                    {{ form_end(adressForm) }}
                </div>
            </div>
        </div>
</section>
{% endblock %}