{% extends 'base.html.twig' %}

{% block title %}Boutique de clavier custom{% endblock %}

{% block description %}Cliks, LA boutique de clavier mécanique custom en France. Vous y trouverez tout ce dont vous avez besoin pour vos clavier et vous pouvez créer et personnaliser votre clavier de A à Z{% endblock %}

{% block stylesheets %}
<!-- home CSS -->
<link rel="stylesheet" href="{{ asset('assets/css/home.css') }}">
{% endblock %}

{% block javascripts %}
<script src="{{ asset('assets/js/home.js') }}"></script>
{% endblock %}

{% block body %}

<div class="section-slider">
    <div class="slider">
        <img src="{{ asset('assets/img/home/accueil.png') }}" alt="Photo principale de clavier" class="img__slider active">
        <img src="{{ asset('assets/img/home/accueil2.png') }}" alt="Photo principale de clavier" class="img__slider">
        <img src="{{ asset('assets/img/home/accueil3.png') }}" alt="Photo principale de clavier" class="img__slider">
        <div id="next">
            <i class="fas fa-chevron-circle-right"></i>
        </div>
        <div id="prev">
            <i class="fas fa-chevron-circle-left"></i>
        </div>
        <!-- <div class="navigation-visibility">
                <div class="slide-icon active"></div>
                <div class="slide-icon"></div>
                <div class="slide-icon"></div>
            </div> -->
    </div>
</div>

<section class="product-section">
    <div class="container">
        <h2>Clavier méchanique</h2>
        <div class="cards">
            {% for product in productList %}
            <div class="card">
                <a href="/produits/show/{{ product.slug }}">
                    <img src="/assets/img/product/mainImg/{{ product.mainImage }}" alt="Photo des clavier de cliks">
                    <h3>{{ product.name }}</h3>
                    <p>{{ (product.price / 100)|number_format(2, ',', ' ') }} €</p>
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="see-all">
            <a href="{{ path('products_index') }}" class="btn btn-dark">Tous les Produits</a>
        </div>
    </div>
</section>

<section class="category-section">
    <div class="container">
        <div class="title-category">
            <a id="keycaps-btn" class="margin-right">keycaps</a>
            <a id="switch-btn">Switch</a>
            <div id="switch-bar"></div>
        </div>

        <div>
            <div class="slide active" id="keycaps-card">
                <p class="category-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, autem
                    aliquam nesciunt accusantium fuga debitis aliquid sunt iure quia corporis.</p>
                <div class="cards">
                    {% for keycaps in keycapsList %}
                    <div class="card">
                        <a href="/produits/show/{{ keycaps.slug }}">
                            <img src="/assets/img/product/mainImg/{{ keycaps.mainImage }}" alt="Photo des clavier de keycaps">
                            <h3>{{ keycaps.name }}</h3>
                            <p>{{ (keycaps.price / 100)|number_format(2, ',', ' ') }} €</p>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="slide" id="switch-card">
                <p class="category-desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor, id!</p>
                <div class="cards">
                    {% for switch in switchList %}
                    <div class="card">
                        <a class="keycaps-link" href="/produits/show/{{ switch.slug }}">
                            <img src="/assets/img/product/mainImg/{{ switch.mainImage }}" alt="Photo des clavier de switch">
                            <h3>{{ switch.name }}</h3>
                            <p>{{ (switch.price / 100)|number_format(2, ',', ' ') }} €</p>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}