{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block stylesheets %}
<!-- products CSS -->
<link rel="stylesheet" href="{{ asset('assets/css/products.css') }}">
{% endblock %}

{% block body %}
<section class="products-section">
    <div class="product-banner">
        <h1>Produits</h1>
    </div>
    <div class="container">
        <div class="products">
            {% for product in productList %}
            <div class="product">
                <a href="/produits/show/{{ product.slug }}">
                    <img src="/assets/img/product/mainImg/{{ product.mainImage }}" alt="Image clavier">
                    <h3>{{ product.name }}</h3>
                    <p>{{ (product.price / 100)|number_format(2, ',', ' ') }} €</p>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}