<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">=
</head>

<body>
  <h1>Demande de {{ firstname }} {{ lastname }}</h1>
  <p>Email : {{ emailAddress }}</p>
  <p>Sujet : {{ subject }}</p>

  <p>message : {{ message }}</p>
</body>

</html>